<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jdynb.mapper.UserMapper">

    <insert id="add">
        insert into user(username, nickname, password, last_ip) values (#{username}, #{nickname}, #{password}, #{lastIp})
    </insert>
    <select id="getByUsername" resultType="xyz.jdynb.entity.User">
        select * from user where username = #{username}
    </select>
    <select id="getByUsernameAndPwd" resultType="xyz.jdynb.entity.User">
        select * from user where username = #{username} and password = #{password}
    </select>
    <select id="getById" resultType="xyz.jdynb.entity.User">
        select * from user where id = #{userId}
    </select>
</mapper>